<h1>Add your very own kitty cat!</h1>

<div class="big-circle">
  <img src="<%= @photo %>">
</div>

<div class="col-md-12">
<div class="col-md-offset-4 col-md-4">
<%= form_for :cat, :class => "input-group", url: cafes_path do |f| %>
  <%= f.text_field :name, :class => "form-control", :placeholder => "Enter Name" %>
  <%= f.text_field :desc, :class => "form-control", :placeholder => "Enter Description" %>
  <%= f.hidden_field :img, :class => "form-control", :value => @photo %>
  <%= f.submit %>
<% end %>
</div>
</div>
