<div class="col-md-4 col-md-offset-4">
<h1>Edit cat</h1>

<%= bootstrap_form_for :cat, url: cat_path(@cat), method: :patch do |f| %>

<% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cat.errors.count, "error") %> prohibited
        this cat from being saved:
      </h2>
      <ul>
        <% @cat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= f.text_field :name, :placeholder => "cat Title", hide_label: :true%>
<%= f.text_field :desc, :placeholder => "cat Description", hide_label: :true%>

<%= f.collection_check_boxes :tag_ids, @tags, :id, :name %>

<%= f.submit :class=>'btn btn-default'%>

<% end %>

</div>
