<div class="col-md-12">
<h1 class="welcome-title col-md-offset-3 col-md-6">Welcome to Cat Cafe!</h1>
</div>

<div class="col-md-12">
<h3>Meet a new kitty:<h3>
<%= form_tag results_path, :method => "get" do %>
  <%= text_field_tag :search, nil, :placeholder => "ex. Cornish Rex" %>
  <%= submit_tag "search", :name => nil %>
<% end %>

<div class="cats col-md-12">
<% @cats.each do |c| %>
      <div class="cat col-md-3">
        <h2><%= c.name %></h2>
        <div class="small-circle">
          <a href="/cats/<%= c.id %>"><img src="<%= c.img %>"></a>
        </div>
      </div>
<% end %>
</div>
