<h1>Add your very own kitty cat!</h1>

<div class="big-circle">
  <img src="<%= @photo %>">
</div>

<div class="col-md-12">
<div class="col-md-offset-4 col-md-4">


<%= bootstrap_form_for @cat do |f| %>

<% if @cat.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cat.errors.count, "error") %> prohibited
        this cat from being saved:
      </h2>
      <ul>
        <% @cat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<a href="javascript:history.go(0)" class="btn btn-default">gimme a new cat</a>

  <%= f.text_field :name, :placeholder => "Enter Name", hide_label: :true %>
  <%= f.text_field :desc, :placeholder => "Enter Description", hide_label: :true %>
  <%= f.hidden_field :img, :value => @photo %>

<%= f.collection_check_boxes :tag_ids, @tags, :id, :name %>


  <%= f.submit :class=>'btn btn-default' %>
<% end %>



</div>
</div>
