<h2>This is <%= @cat.name %>!</h2>

<% if flash.any? %>
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key %>"><%= message %></div>
  <% end %>
<% end %>

  <div class="big-circle">
    <img src="<%= @cat.img %>">
  </div>
<h3><%= @cat.name %> <%= @cat.desc %></h3>

<%= link_to 'Edit',  edit_cat_path(@cat),
              class: 'btn btn-default' %>
<%= link_to 'Destroy', cat_path(@cat),
              method: :delete,
              data: { confirm: 'Are you sure you want to destroy this cat?' },
              class: 'btn btn-default' %>
