<h2>This is <%= @cat.name %>!</h2>

<%= render partial: "partials/flash" %>

<div class="cats col-md-offset-3 col-md-6">

<div class="big-circle">
  <img src="<%= @cat.img %>">
</div>
<h3><%= @cat.name %> <%= @cat.desc.to_lolspeak %></h3>

<% @cat.tags.each do |tag| %>
<%= link_to tag.name, cattag_path(tag.name), :class=>'btn btn-default btn-xs' %>
<% end %>
<br><br>
<%= link_to 'Fix',  edit_cat_path(@cat),
              class: 'btn btn-default' %>
<%= link_to 'Destroy', cat_path(@cat),
              method: :delete,
              data: { confirm: 'Are you sure you want to destroy this cat?' },
              class: 'btn btn-default' %>
</div>
